@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-pink-50 h-screen w-full sm:w-full font-outfit
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer components {
    .background {
        @apply dark:bg-gray-700 bg-white dark:text-white text-black
    }

    button, .btn {
        @apply rounded-md py-1.5 m-auto px-2 transition
    }

    .bg-primary {
        @apply bg-rose-600 text-white
    }

    .bg-secondary {
        @apply bg-rose-100 text-black
    }

    .bg-warning {
        @apply bg-amber-400 text-black
    }

    .bg-info {
        @apply bg-sky-400 text-white
    }

    .bg-success {
        @apply bg-emerald-500 text-white
    }

    .bg-danger {
        @apply bg-red-500 text-white
    }

    .btn-primary {
        @apply bg-rose-600 hover:bg-rose-700 text-white
    }

    .btn-secondary {
        @apply bg-rose-100 hover:bg-rose-200 text-black
    }

    .btn-warning {
        @apply bg-amber-400 hover:bg-amber-300 text-black
    }

    .btn-success {
        @apply bg-emerald-500 hover:bg-emerald-400 text-white
    }

    .btn-danger {
        @apply bg-red-500 hover:bg-red-400 text-white
    }

    .btn-outline-primary {
        @apply border border-rose-600 text-rose-600 hover:btn-primary
    }

    .btn-outline-warning {
        @apply border border-amber-400 text-amber-400
    }

    .btn-outline-danger {
        @apply border border-red-500 text-red-500
    }

    .text-xxs {
        font-size: 0.6rem;
        line-height: 0.85rem;
    }
}
